<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        {% block title %}
            Admin Panel Base
        {% endblock title %}
    </title>

    <meta name="description" content="Dollarial Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.less' %}"> -->
    <link rel="stylesheet" href="{% static 'assets/scss/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    {% endblock stylesheets %}
</head>
<body>
        <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="{% static 'assets/images/logo.png' %}" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="{% static 'assets/images/logo2.png' %}" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'admin_index' %}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>

                    <h3 class="menu-title">Models</h3><!-- /.menu-title -->
                    <li class="menu-item-has-children active dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-table"></i>Tables
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-table"></i>
                                <a href="{% url 'admin_transaction_list' %}">Transactions</a>
                            </li>
                            <li><i class="menu-icon fa fa-users"></i>
                                <a href="{% url 'admin_costumer_list' %}">Costumers</a>
                            </li>
                            <li><i class="menu-icon fa fa-users"></i>
                                <a href="{% url 'admin_reviewer_list' %}">Reviewers</a>
                            </li>
                            <li><i class="menu-icon fa fa-table"></i>
                                <a href="{% url 'admin_skipped_transaction_list' %}">Skipped Transactions</a>
                            </li>
                            <li><i class="menu-icon fa fa-money"></i>
                                <a href="">Transaction Types</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href=""> <i class="menu-icon ti-email"></i>Messages </a>
                    </li>

                    <h3 class="menu-title">Actions</h3><!-- /.menu-title -->
                    <li>
                        <a href="{% url 'admin_reviewer_add' %}"> <i class="menu-icon fa fa-plus-square-o"></i> Add Reviewer </a>
                    </li>
                    <li>
                        <a href=""> <i class="menu-icon fa fa-usd"></i> Add Company Credit </a>
                    </li>
                    <li>
                        <a href=""> <i class="menu-icon fa fa-bell"></i> Send Notification </a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">
                <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <!-- TODO: add logout with user's name -->

                        <div class="user-area dropdown float-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle" src="{% static 'assets/images/admin.jpg' %}" alt="User Avatar">
                            </a>

                            <div class="user-menu dropdown-menu">
                                    <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header><!-- /header -->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>{% block page_title %}Default Title{% endblock page_title %}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            {% block right_breadcrumb %}{% endblock right_breadcrumb %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        {% block right_panel %}
        {% endblock right_panel %}
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    {% block js_files %}
    {% endblock js_files %}
    <script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>
