{% extends "user_panel_base.html" %}
{% load static %}
{% load bootstrap %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block title %} Profile {% endblock title %}

{% block page_title %}Profile
{% endblock page_title %}

{% block right_breadcrumb %}
    <li class="active">Profile</li>
{% endblock right_breadcrumb %}

{% block right_panel %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <!-- Transaction View -->
                <div class="col-lg-6">
                    <div class="card">
                        <form role="form" method="post">
                            {% csrf_token %}
                            <div class="card-header">
                                <strong class="card-title">Edit Profile</strong>
                            </div>
                            <div class="card-body">
                                <div id="transaction-card">
                                    <div class="card-body">
                                        {{ form|bootstrap }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Update Profile
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End of Transaction View -->

            </div>
        </div>
    </div>
{% endblock right_panel %}
