{% extends "user_panel_base.html" %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block title %} Transaction View{% endblock title %}

{% block page_title %}
    Transaction View
{% endblock page_title %}

{% block right_breadcrumb %}
    <li><a href="{% url 'user_transaction_list' %}">Transactions</a></li>
    <li class="active">Transaction View</li>
{% endblock right_breadcrumb %}

{% block right_panel %}

    <!-- Transaction View -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Transaction {{ transaction.id }}</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="transaction-card">
                    {% for key, value in display_fields.items %}
                        <div class="form-group">
                            <label for="cc-{{ key }}" class="control-label mb-1">{{ key }}</label>
                            <input id="cc-{{ key }}" name="cc-{{ key }}" type="text"
                                   class="form-control"
                                   value="{{ value }}" readonly>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End of Transaction View -->
{% endblock right_panel %}
