{% extends "user_panel_base.html" %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block title %} Profile {% endblock title %}

{% block page_title %}Profile
{% endblock page_title %}

{% block right_breadcrumb %}
    <li class="active">Profile</li>
{% endblock right_breadcrumb %}

{% block right_panel %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <!-- Transaction View -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Profile</strong>
                        </div>
                        <div class="card-body">
                            <!-- Credit Card -->
                            <div id="profile-card">
                                <div class="card-body">
                                    <form action="#">
                                        <div class="row form-group">
                                            <div class="col-md-6 padding-bottom">
                                                <label for="fname">First Name</label>
                                                <input type="text" id="fname" class="form-control"
                                                       value="{{ user.fname }}">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="lname">Last Name</label>
                                                <input type="text" id="lname" class="form-control"
                                                       value="{{ user.lname }}">
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <label for="email">Email</label>
                                                <input type="email" id="email" class="form-control"
                                                       value="{{ user.email }}">
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <label for="telephone">Cell Number</label>
                                                <input type="tel" id="telephone" class="form-control"
                                                       value="{{ user.phone }}">
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <label for="pass">New Password</label>
                                                <input type="password" id="pass" class="form-control">
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <label for="repass">Repeat New Password</label>
                                                <input type="password" id="repass" class="form-control">
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <label>Prefered method of receiving notifications:</label><br>
                                                <input type="radio" id="notif_choice1" name="notif" value="email">
                                                <label for="notif_choice1">Email</label> <br>

                                                <input type="radio" id="notif_choice2" name="notif" value="sms">
                                                <label for="notif_choice2">SMS</label>

                                            </div>
                                        </div>


                                        <div class="form-group text-center">
                                            <input type="submit" value="Save Changes" class="btn btn-primary">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Transaction View -->

            </div>
        </div>
    </div>
{% endblock right_panel %}
