{% extends "user_panel_base.html" %}
{% load static %}
{% load bootstrap %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}


{% block page_title %}
    User Dashboard
{% endblock page_title %}

{% block right_panel %}
    <div class="col-md-4">
        <form role="form" method="post">
            {% csrf_token %}

            <div class="card">
                <div class="card-header">
                    <strong class="card-title mb-3">Charge ﷼ Wallet</strong>
                </div>
                <div class="card-body">
                    <div id="charge-card">
                        <div class="card-body">
                            {{ form|bootstrap }}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success btn-sm" id="charge-button">
                        <i class="fa fa-dot-circle-o"></i> Charge
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock right_panel %}

{% block title %} User Panel Index {% endblock title %}