{% extends "user_panel_base.html" %}
{% load static %}

{% load bootstrap %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block title %} Exchange Credit {% endblock title %}

{% block page_title %}Exchange Credit
{% endblock page_title %}

{% block right_breadcrumb %}
    <li class="active">Exchange Credit</li>
{% endblock right_breadcrumb %}

{% block right_panel %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <!-- Transaction View -->
                <div class="col-lg-6">

                        <form role="form" method="post">
                             {% csrf_token %}
                            <div class="card-header">
                                <strong class="card-title">Exchange Information</strong>
                            </div>
                            <div class="card-body">
                                <div id="exchange-card">
                                    {{ form|bootstrap }}
                                </div>
                                <hr>

                                <div id="price">
                                    <div>
                                        Price in first currency:
                                        <strong>{{ required_amount }}  </strong>
                                    </div>

                                    <div>
                                        Wage in first currency: <strong>{{ wage }} </strong>
                                    </div>
                                </div>

                            </div>


                            <div class="card-footer">
                                <button type="submit" class="btn btn-success btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Confirm
                                </button>
                            </div>
                        </form>


                </div>

            </div>
        </div>
    </div>
{% endblock right_panel %}
