{% extends "admin_panel_base.html" %}
{% load static %}
{% load bootstrap %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block title %} Add Reviewer {% endblock title %}

{% block page_title %}
    Add Reviewer
{% endblock page_title %}

{% block right_breadcrumb %}
    <li><a href="{% url 'admin_reviewer_list' %}">Reviewers</a></li>
    <li class="active">Add Reviewer</li>
{% endblock right_breadcrumb %}

{% block right_panel %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-lg-6">
                    <div class="card">
                        <form role="form" method="post">
                            {% csrf_token %}

                            <div class="card-header">
                                <strong class="card-title">New Clerk</strong>
                            </div>
                            <div class="card-body">
                                <div id="transaction-card">
                                    <div class="card-body">
                                        {{ form|bootstrap }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Add Clerk
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Add Reviewer -->

            </div>
        </div>
    </div>
{% endblock right_panel %}
