{% extends "admin_panel_base.html" %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'assets/css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock stylesheets %}

{% block title %} Payment Groups {% endblock title %}

{% block page_title %}
    Payment Groups
{% endblock page_title %}

{% block right_panel %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Payment Group</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <td>Name</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in paymentgroup_list %}
                        <tr id="group_row_{{ forloop.counter }}">
                            <td id="transaction_id_{{ group.id }}">
                                <a href="{% url 'admin_transaction_group_view' group.id %}">{{ group.id }}</a>
                            </td>
                            <td id="transaction_id_{{ group.id }}">{{ group.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock right_panel %}

{% block js_files %}


    <script src="{% static 'assets/js/lib/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/jszip.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/datatables-init.js' %}"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
        });
    </script>
{% endblock js_files %}

