{% extends "admin_panel_base.html" %}
{% load static %}
{% load bootstrap %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block title %} Transaction View{% endblock title %}

{% block page_title %}
    Transaction View
{% endblock page_title %}

{% block right_breadcrumb %}
    <li><a href="{% url 'admin_transaction_list' %}">Transactions</a></li>
    <li class="active">Transaction View</li>
{% endblock right_breadcrumb %}

{% block right_panel %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <!-- Transaction View -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Transaction {{ transaction.id }}</strong>
                        </div>
                        <div class="card-body">
                            <!-- Credit Card -->
                            <div id="transaction-card">
                                {% for key, value in display_fields.items %}
                                    <div class="form-group">
                                        <label for="cc-{{ key }}" class="control-label mb-1">{{ key }}</label>
                                        <input id="cc-{{ key }}" name="cc-{{ key }}" type="text"
                                               class="form-control"
                                               value="{{ value }}" readonly>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <form role="form" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success btn-sm" name="accept"
                                        id="transaction_accept"
                                        {% if reviewable %}  disabled {% endif %}>
                                    <i class="fa fa-dot-circle-o"></i> Accept
                                </button>
                                <button type="submit" class="btn btn-danger btn-sm" name="reject"
                                        id="transaction_reject"
                                        {% if reviewable %}  disabled {% endif %}>
                                    <i class="fa fa-ban"></i> Reject
                                </button>
                                <button type="submit" class="btn btn-secondary btn-sm" name="skip"
                                        id="transaction_skip"
                                        {% if reviewable %}  disabled {% endif %}>
                                    <i class="fa fa-angle-double-right"></i> Skip
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End of Transaction View -->
                <!-- Report -->
                <div class="col-lg-6">
                    <div class="card">
                        <form role="form" method="post">
                            <div class="card-header">
                                <strong>Reports</strong>
                            </div>
                            <div class="card-body">
                                {% for report in reports %}
                                    <p><i>{{ report.time }}</i></p>
                                    <div>
                                        {{ report.comment }}
                                    </div>
                                    <hr>
                                {% endfor %}
                                <h4> New Report</h4>
                                {% csrf_token %}
                                {{ report_form|bootstrap }}
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-warning btn-sm">
                                    <i class="fa fa-warning"></i> Report
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End of Report -->

            </div>
        </div>
    </div>
{% endblock right_panel %}
