{% extends "admin_panel_base.html" %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block title %} Add Reviewer {% endblock title %}

{% block page_title %}
    Add Reviewer
{% endblock page_title %}

{% block right_breadcrumb %}
    <li><a href="{% url 'admin_reviewer_list' %}">Reviewers</a></li>
    <li class="active">Add Reviewer</li>
{% endblock right_breadcrumb %}

{% block right_panel %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <!-- Add Reviewer -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">New Reviewer</strong>
                        </div>
                        <div class="card-body">
                            <div id="transaction-card">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="cc-username" class="control-label mb-1">Username</label>
                                        <input id="cc-username" name="cc-username" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="cc-password" class="control-label mb-1">Password</label>
                                        <input id="cc-password" name="cc-password" type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="cc-salary" class="control-label mb-1">Salary</label>
                                        <input id="cc-salary" name="cc-lname" type="number" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Add Reviewer -->

            </div>
        </div>
    </div>
{% endblock right_panel %}
