{% extends "admin_panel_base.html" %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}


{% block page_title %}
    Admin Dashboard
{% endblock page_title %}

{% block right_panel %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                {% for w in wallets %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">{{ w.name|capfirst }} Wallet</strong>
                            </div>
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="stat-widget-one">
                                            <div class="stat-icon dib"><i
                                                    class="ti-money text-success border-success"></i>
                                            </div>
                                            <div class="stat-content dib">
                                                <div class="stat-text">{{ w.name|capfirst }} Wallet</div>
                                                <div class="stat-digit">{{ w.credit }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--<div class="card-body">
                                        {# Price #}
                                        <div class="form-group">
                                            <label for="cc-price_{{ forloop.counter0 }}" class="control-label mb-1">Amount
                                                (in {{ w.name|capfirst }})</label>
                                            <input id="cc-price_{{ forloop.counter0 }}" name="cc-price" type="number" min="0"
                                                   class="form-control">
                                        </div>

                                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target="#credit-change-modal" id = "charge_{{ forloop.counter0 }}">
                                            Charge Wallet
                                        </button>
                                    </div>--->
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Modal for ban user -->
  <!--  <div class="modal fade" id="credit-change-modal" tabindex="-1" role="dialog"
         aria-labelledby="credit-change-modalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="credit-change-modalLabel">Change Credit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure to add 1000$ to company's credit?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Charge</button>
                </div>
            </div>
        </div>
    </div> -->
{% endblock right_panel %}

{% block title %} Admin Panel Index {% endblock title %}
