{% extends "admin_panel_base.html" %}
{% load static %}
{% load bootstrap %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block title %} Costumer View {% endblock title %}

{% block page_title %}
    Costumer View
{% endblock page_title %}

{% block right_breadcrumb %}
    <li><a href="{% url 'admin_costumer_list' %}">Costumers</a></li>
    <li class="active">User View</li>
{% endblock right_breadcrumb %}

{% block right_panel %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <!-- Transaction View -->
                <div class="col-lg-6">
                    <div class="card">
                        <form role="form" method="post">
                            {% csrf_token %}
                            <div class="card-header">
                                <strong class="card-title">User {{ user.id }}</strong>
                            </div>
                            <div class="card-body">
                                <!-- Credit Card -->
                                <div id="transaction-card">
                                    {{ form|bootstrap }}
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Update
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End of Transaction View -->
            </div>
        </div>
    </div>
{% endblock right_panel %}
