{% extends "admin_panel_base.html" %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'assets/css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock stylesheets %}

{% block title %} Costumers {% endblock title %}

{% block page_title %} Costumers {% endblock page_title %}

{% block right_panel %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Costumer Table</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Account Number</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Active</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for costumer in user_list %}
                        <tr>
                            <td id="costumer_id_{{ costumer.id }}">
                                <a href="{% url 'admin_costumer_view' costumer.id %}">{{ costumer.id }}</a>
                            </td>
                            <td id="costumer_fname_{{ costumer.id }}">{{ costumer.first_name }}</td>
                            <td id="costumer_lname_{{ costumer.id }}">{{ costumer.last_name }}</td>
                            <td id="costumer_account_number_{{ costumer.id }}">{{ costumer.account_number }}</td>
                            <td id="costumer_email_{{ costumer.id }}">{{ costumer.email }}</td>
                            <td id="costumer_phone_number_{{ costumer.id }}">{{ costumer.phone_number }}</td>
                            <td id="costumer_ban_status_{{ costumer.id }}">{{ costumer.is_active }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock right_panel %}

{% block js_files %}


    <script src="{% static 'assets/js/lib/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/jszip.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/data-table/datatables-init.js' %}"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
        });
    </script>
{% endblock js_files %}

