{% extends "admin_panel_base.html" %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}


{% block page_title %}
    Admin Dashboard
{% endblock page_title %}

{% block right_panel %}
    {% for w in wallets %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title mb-3">{{ w.name|capfirst }} Wallet</strong>
                </div>
                <div class="card-body">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i
                                class="ti-money text-success border-success"></i>
                        </div>
                        <div class="stat-content dib">
                            <div class="stat-text">{{ w.name|capfirst }} Wallet</div>
                            <div class="stat-digit">{{ w.credit }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% endblock right_panel %}

{% block title %} Admin Panel Index {% endblock title %}
